* {
  margin: 0px;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
.container {
    display: flex;
    min-height: 100vh;
    min-width: auto;

}
.sidebar {
  /* background-color: #00a373; */
  background-color: #138143;
  width: 250px;
  /* width: 87px; */
  padding: 0px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  transition: all ease-in 0.3s;
}
.main-content {
  margin-top: 23px;
}
.sidebar.hide {
  width: 85px;
  transition: width 0.3s ease-out ;
}
.sidebar a {
  color: white;
}

.sidebar.hide .description{
  display: none;
}
/* .header {
  border: black 1px solid;
} */

.sidebar.hide .dropdown-symbol1
{
  display: none;
}
.sidebar.hide .dropdown-symbol2
{
  display: none;
}


.gambar {
  width: 100px;
  height: auto;
  margin-left: 55px;

  border-radius: 50%;
  border: 10px solid #ebad00;
  display: block;
  background-image: transparent;
  margin-top: 25px;
  
}
.sidebar.hide .gambar {
width: 50px;
  margin-left: 8px;
}
.icon :hover{
  color: #ebad00;
}
.listitem a {
  display: inline-block;
  position: relative;
  align-items: center;
  /* margin-bottom: 10px; Add margin-bottom for spacing between list items */
  padding: 0px;
  line-height: 50px;

  text-decoration: none;
}
.dropdown-item {
  font-size: small;
}

.description {
  display: inline-flex;
  align-items: center;
  padding-right: 0px;
}
.icon {
  margin-right: 10px;
  width: 25px; /* Adjust the margin to control the spacing between the icon and the description */
  padding-left: 30px;
  padding-top: 25px;
}
/* .description .Karyawan {
  padding-right: 10px;
  padding-bottom: 35px;
  padding-left: 80px;
} */
.dropdown-symbol1 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; /* Change the color as desired */
  display: inline-block;
  margin-left: 70px;
  margin-right: 30px; /* Adjust spacing */
  vertical-align: middle;
}
.dropdown-symbol2 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; /* Change the color as desired */
  display: inline-block;
  margin-left: 87px;
  margin-right: 30px; /* Adjust spacing */
  vertical-align: middle;
}

.dropdown {
  display: none;
  text-align: center;
}

.dropdown.active {
  display: block;
}
#dropdown-2 {
  display: none;
}

#dropdown-2.active {
  display: block;
}

/* CSS untuk menampilkan dropdown ketika list item dihover */
div #item  :hover {
  color: #ebad00;

}

/* toogle menu */
#menu-button {
  width: 32px;
  /* background-color: #00a373; */
  position: absolute;
  overflow: hidden;
  z-index: 999;
  left: 250px;

  top: 5px;
  transition: left 0.3 ease !important;
}
.sidebar.hide #menu-button {
  left: 87px;
}

#menu-label {
  position: relative;
  display: block;
  height: 20px;
  cursor: pointer;
}
#menu-checkbox {
  display: none;
  
}

#menu-checkbox:checked + #menu-label {
  position: relative;
  display: block;
 


}



#Humburger,
#menu-label:after,
#menu-label:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  transition: 0.5s;
  
}

#menu-label:after,
#menu-label:before {
  content: "";
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu-label:before {
  top: 0;
}
#menu-label:after {
  top: 8px;
}

#Humburger {
  top: 16px;
}

#Humburger:before {
  content: "Menu";
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: black;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  /* opacity: 1; */
}
#menu-checkbox:checked + #menu-label::before {
  left: -39px;
  /* opacity: 0; */
}
#menu-checkbox:checked + #menu-label::after {
  left: 39px;
}

#menu-checkbox:checked + #menu-label #Humburger::before {
  animation: moveUpthenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards, shakeDown 0.8s ease 0.2s forwards;
}

@keyframes moveUpthenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@keyframes shakeUp {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes shakeDown {
  0% {
    transform: rotateZ(0deg);
  }
  80% {
    transform: rotateZ(3deg);
  }
  90% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
